@import '../color-palette.scss';
@import '../mixins.scss';

.contact-about-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 10%);
  padding-top: 5%;
  @include is-mobile {
    padding-top: 20%;
  }
  display: flex;
  &__column {
    &--1 {
      width: 20%;
      @include is-mobile {
        width: 0;
      }
    }
    &--2 {
      width: 50%;
      margin-top: 7%;
      @media (min-width: 1200px) and (max-width: 1500px) and (min-height: 400px) and (max-height: 800px) {
        margin-top: 2%;
      }
      @include is-mobile {
        width: 100%;
      }
      @include is-desktop {
        width: 70%;
        margin-top: 2%;
      }
      &__title {
        margin-bottom: 0;
        @include is-mobile {
          color: $light-cyan;
        }
      }
      &__sector {
        margin-top: 0;
        margin-bottom: 10%;
        font-weight: bold;
        @include is-mobile {
          color: $light-cyan;
          margin-left: 15%;
          margin-bottom: 5%;
        }
        @include is-desktop {
          margin-bottom: 1%;
        }
        @media (min-width: 1200px) and (max-width: 1500px) and (min-height: 400px) and (max-height: 800px) {
          margin-bottom: 2%;
        }
      }
      h1 {
        font-weight: lighter;
        color: $dark-gray;
        font-size: 70px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: lighter;
        @include is-mobile {
          font-size: 50px;
          color: $light-cyan;
          margin-bottom: 5px;
        }
        @include is-desktop {
          font-size: 40px;
        }
      }
      &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        @include is-mobile {
          display: block;
          height: 65%;
          overflow-y: scroll;
          overflow-x: hidden;
        }
        @include is-desktop {
          height: 60%;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 3px !important;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $gray;
            border-radius: 4.5px !important;
          }
        }
        @media (min-width: 1200px) and (max-width: 1500px) and (min-height: 400px) and (max-height: 800px) {
          height: 70%;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 3px !important;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $gray;
            border-radius: 4.5px !important;
          }
        }
        div div {
          margin-bottom: 10px;
        }
        &--item-head {
          display: flex;
          color: $dark-gray;
          @include is-mobile {
            color: $light-cyan;
          }
          span {
            margin-left: 18%;
            margin-top: 5%;
          }
          svg {
            margin-top: 5%;
            margin-left: 20px;
            fill: $dark-gray;
            @include is-mobile {
              fill: $light-cyan;
            }
          }
          div:nth-child(1) {
            width: 15%;
            margin-right: 15px;
          }
          div:nth-child(2) {
            width: 85%;
            p {
              margin-top: 0;
              margin-bottom: 5px;
              @include is-mobile {
                color: $light-cyan;
              }
            }
          }
        }
        &--item-europe {
          margin-left: 80px;
          margin-bottom: 20px !important;
          @include is-mobile {
            color: $light-cyan;
            width: 85%;
            margin-left: 19%;
          }
          p {
            margin-top: 0;
            margin-bottom: 5px;
            @include is-mobile {
              color: $light-cyan;
            }
          }
          span {
            margin-top: 5%;
            color: $dark-gray;
            @include is-mobile {
              color: $light-cyan;
            }
            svg {
              margin-left: 20px;
              fill: $dark-gray;
              @include is-mobile {
                fill: $light-cyan;
              }
            }
          }
        }
      }
    }
  }
}
