@import '../../styles/color-palette.scss';

$signal-time: 3s;
$delay-time-offset: 0.1s;
$background-time: 6s;
$background-delay: 10s;

.st0 {
  fill: #e3f9ff;
}
.st1 {
  fill: #c4dded;
}
.st2 {
  fill: none;
  stroke: #8099a9;
  stroke-miterlimit: 10;
}
.st3 {
  fill: #8099a9;
}
.st4 {
  fill: #ffffff;
}
.st5 {
  fill: #989898;
}
.st6 {
  fill: #666666;
}
.st7 {
  fill: #3c3c3b;
}
.st8 {
  fill: none;
}

.signal0,
.signal1,
.signal2,
.signal3,
.signal4,
.signal5,
.signal8,
.signal10,
.signal12,
.signal14,
.signal16 {
  fill: transparent;
}

.signal6 {
  animation-delay: 6 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal7 {
  animation-delay: 1 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal9 {
  animation-delay: 2 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal11 {
  animation-delay: 3 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal13 {
  animation-delay: 4 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal15 {
  animation-delay: 5 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal17 {
  animation-delay: 6 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal18 {
  animation-delay: 7 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal19 {
  animation-delay: 8 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal20 {
  animation-delay: 9 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}
.signal21 {
  animation-delay: 10 * $delay-time-offset;
  animation-name: signal-keyframes;
  animation-duration: $signal-time;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: bottom left;
  transform-box: fill-box;
}

@keyframes signal-keyframes {
  0% {
    transform: rotate(0deg);
    fill: #c4dded;
  }

  20% {
    fill: transparent;
  }
  25% {
    fill: transparent;
  }
  75% {
    fill: transparent;
  }
  90% {
    fill: #c4dded;
  }
  100% {
    transform: rotate(360deg);
  }
}

.explore-more {
  cursor: pointer !important;
}

.explore-bg {
  fill: $light-cyan;
  animation-name: background-keyframes;
  animation-duration: $background-time;
  animation-delay: $background-time;
  animation-fill-mode: forwards;
}

@keyframes background-keyframes {
  100% {
    fill: $dark-gray;
  }
}
