@import '../color-palette.scss';
@import '../mixins.scss';

$background-time: 6s;

.footer-wrapper {
  position: absolute;
  bottom: -30px;
  width: 100%;
  left: 0%;
  &__inner {
    position: absolute;
    bottom: 40px;
    left: 50px;
    @include is-tablet {
      bottom: 75px;
    }
    @include is-mobile {
      bottom: -10px;
    }
  }
}

.footer-wrapper__part,
.footer-wrapper__url {
  font-size: 10px;
  color: $light-black;
  letter-spacing: 1px;
  animation-name: background-keyframes;
  animation-duration: $background-time;
  animation-fill-mode: forwards;
}

@keyframes background-keyframes {
  100% {
    color: $gray;
  }
}

@include is-mobile {
  .footer-wrapper {
    bottom: -30px;
    &__inner {
      bottom: 20px;
      left: 5%;
    }
  }
}
@include is-tablet {
  .navbar-end {
    display: none;
  }
}
@include is-desktop {
  top: 25%;
}
@include is-large-desktop {
  top: 12.5%;
}

.dark-theme {
  &__part,
  &__url {
    color: $dark-gray !important;
    font-size: 10px;
    letter-spacing: 1px;
  }
}
