@import '../color-palette.scss';
@import '../mixins.scss';

$item-time: 6s;

.header-wrapper {
  position: absolute;
  width: 86%;
  padding-left: 4%;
  background: transparent;
  height: 80px;
  z-index: 100;
  display: flex;
  &__brand {
    align-self: flex-start;
    width: 18%;
    @include is-mobile {
      width: 50%;
    }
  }
  &__items {
    width: 72%;
    align-self: flex-end;
    text-align: right;
    @include is-mobile {
      width: 22%;
      margin-bottom: 25px;
    }
  }
  &__item {
    display: inline-block;
    > a {
      text-transform: uppercase;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      line-height: 12px;
      transition: color 0.2s ease;
      margin-right: 30px;
      @include is-mobile {
        display: none;
      }
      @include is-tablet {
        display: none;
      }
    }
    a.light-theme {
      color: $gray;
    }
    a.light-theme:hover {
      color: $light-black;
    }
    a.dark-theme {
      color: $gray;
    }
    a.dark-theme:hover {
      color: $light-cyan;
    }
  }
  &__is-active {
    .light-theme {
      color: $light-black !important;
      transition: color 2s ease-in;
    }
    .dark-theme {
      color: $light-cyan !important;
      transition: color 2s ease-in;
    }
  }

  @include is-desktop {
    top: 8%;
  }
  @include is-large-desktop {
    top: 10%;
  }
  &__dropbtn {
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    color: $gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 12px;
    &::after {
      border: 3px solid transparent;
      border-radius: 2px;
      border-right: 0;
      border-top: 0;
      content: ' ';
      display: block;
      height: 0.625em;
      pointer-events: none;
      position: absolute;
      top: 45%;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: center;
      transform-origin: center;
      width: 0.625em;
      margin-top: -0.375em;
      right: 0;
      border-color: #989898;
      font-size: 11px;
    }
  }
}

li a:hover,
.dropdown:hover .header-wrapper__dropbtn.light-theme {
  color: $light-black;
}

li a:hover,
.dropdown:hover .header-wrapper__dropbtn.dark-theme {
  color: $light-cyan;
}

li.dropdown {
  display: inline-block;
  a {
    margin-right: 30px;
  }
  @include is-mobile {
    display: none;
  }
  @include is-tablet {
    display: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: $gray;
  text-transform: uppercase;
}

.dropdown-content a {
  color: $gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 0.875rem;
  .light-theme.header-wrapper__is-active {
    color: $light-black !important;
  }
  .dark-theme.header-wrapper__is-active {
    color: $light-cyan !important;
  }
}

.dropdown-content .light-theme.header-wrapper__is-active {
  color: $light-black !important;
}
.dropdown-content .dark-theme.header-wrapper__is-active {
  color: $light-cyan !important;
}

.dropdown-content .light-theme:hover {
  color: $light-black;
}
.dropdown-content .dark-theme:hover {
  color: $light-cyan;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .header-wrapper__dropbtn.light-theme.header-wrapper__is-active {
  color: $light-black !important;
}
.dropdown .header-wrapper__dropbtn.dark-theme.header-wrapper__is-active {
  color: $light-cyan !important;
}

.svg-logo {
  height: 60px !important;
  margin: 20px 0px;
  fill: $light-black;
  @include is-mobile {
    height: 40px !important;
  }
  &--animate-logo {
    animation-name: logo-keyframes;
    animation-duration: $item-time;
    animation-fill-mode: forwards;
  }
  &--light-logo {
    fill: $gray;
  }
}

@keyframes logo-keyframes {
  100% {
    fill: $gray;
  }
}

.hamburger {
  width: 30px;
  height: 2px;
  background: $gray;
  display: inline-block;
  transform-origin: center;
  line-height: 10px;
  &:after {
    content: '';
    // position: absolute;
    display: inline-block;
    height: 2px;
    width: 30px;
    background: $gray;
  }
}

.navigation-menu ul li {
  list-style: none;
  font-weight: 300;
  color: white;
}

.navigation-menu {
  content: '';
  position: fixed;
  top: 7%;
  right: 0;
  width: 60%;
  height: 70%;
  background-image: radial-gradient(
    circle farthest-side at center,
    rgba(152, 152, 152, 0.98),
    rgba(60, 60, 59, 0.98)
  );
  transform: skewX(0deg) translate(100%, 0);
  transform-origin: top right;
  transition: all 0.2s ease-in;
  z-index: -1;
  border-radius: 5px;
  @include is-mobile {
    border-radius: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
.navigation-menu ul {
  transform-origin: top left;
  position: fixed;
  left: 40px;
  top: 30%;
  text-align: left;
}
.navigation-menu ul li {
  position: relative;
  z-index: 999;
  font-size: 32px;
  line-height: 64px;
}
.navigation-menu ul li a {
  border: none;
  color: white;
  text-decoration: none;
}
.navigation-menu ul li a:hover {
  color: rgba($color: white, $alpha: 0.7);
}
.navigation-menu.active {
  transform: translate(0, 0);
  z-index: 10;
}

.navigation-menu li {
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 0s ease-in 0.3s;
}
.navigation-menu.active li {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.2s ease-in 0s;
}

.navigation-menu li.active a,
.navigation-menu li.active a:hover {
  color: $light-cyan;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.closebtn:hover {
  color: rgba($color: white, $alpha: 0.7);
}
