@import '../color-palette.scss';
@import '../mixins.scss';

$item-time: 6s;

.header-wrapper {
  position: absolute;
  width: 97%;
  margin-left: 4%;
  background: transparent;
  height: 80px;
  @include is-mobile {
    display: flex;
    top: 5%;
    .navbar-end > a,
    .navbar-end > .has-dropdown {
      display: none;
    }
  }
  @include is-tablet {
    .navbar-end {
      display: none;
    }
  }
  @include is-desktop {
    top: 25%;
  }
  @include is-large-desktop {
    top: 12.5%;
  }
}

.svg-logo {
  height: 60px !important;
  margin: 20px 0px;
  fill: $light-black;
  @include is-mobile {
    height: 40px !important;
    margin-top: -20px;
  }
  &--animate-logo {
    animation-name: logo-keyframes;
    animation-duration: $item-time;
    animation-fill-mode: forwards;
  }
  &--light-logo {
    fill: $gray;
  }
}

.navbar-item {
  text-transform: uppercase !important;
  margin-right: 20px;
  color: $gray;
}

.navbar-link {
  text-transform: uppercase !important;
  color: $gray;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: $gray;
}

.navbar-end {
  padding-right: 10%;
}

.navbar-brand {
  @include is-mobile {
    width: 50%;
  }
}

@keyframes logo-keyframes {
  100% {
    fill: $gray;
  }
}

a.light-theme:focus,
a.light-theme:focus-within,
a.light-theme:hover,
a.light-theme.is-active,
.light-theme-dropdown:focus,
.light-theme-dropdown:focus-within,
.light-theme-dropdown:hover,
.light-theme-dropdown.is-active {
  background-color: transparent;
  color: $light-black;
}

.navbar-dropdown,
.light-theme.has-dropdown:focus .light-theme-dropdown,
.light-theme.has-dropdown:hover .light-theme-dropdown,
.light-theme.has-dropdown.is-active .light-theme-dropdown {
  background-color: transparent;
  color: $light-black;
}

a.dark-theme:focus,
a.dark-theme:focus-within,
a.dark-theme:hover,
a.dark-theme.is-active,
.dark-theme-dropdown:focus,
.dark-theme-dropdown:focus-within,
.dark-theme-dropdown:hover,
.dark-theme-dropdown.is-active {
  background-color: transparent;
  color: $light-cyan;
}

.navbar-dropdown,
.dark-theme.has-dropdown:focus .dark-theme-dropdown,
.dark-theme.has-dropdown:hover .dark-theme-dropdown,
.dark-theme.has-dropdown.is-active .dark-theme-dropdown {
  background-color: transparent;
  color: $light-cyan;
}

.hamburger {
  width: 30px;
  height: 2px;
  background: $gray;
  display: block;
  transform-origin: center;
  position: absolute;
  top: 17px;
  left: 10px;
  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background: $gray;
  }
  &:before {
    top: -8px;
  }
}

.menu-icon {
  cursor: pointer;
  width: 50px;
  height: 30px;
  margin-left: 50px;
}

.navigation-menu ul li {
  list-style: none;
  font-weight: 300;
  color: white;
}

.navigation-menu {
  content: '';
  position: fixed;
  top: 7%;
  right: 0;
  width: 60%;
  height: 70%;
  background-image: radial-gradient(
    rgba(152, 152, 152, 0.98),
    rgba(60, 60, 59, 0.98)
  );
  transform: skewX(0deg) translate(100%, 0);
  transform-origin: top right;
  transition: all 0.2s ease-in;
  z-index: -1;
  border-radius: 5px;
  @include is-mobile {
    border-radius: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
.navigation-menu ul {
  transform-origin: top left;
  position: fixed;
  left: 40px;
  top: 30%;
  text-align: left;
}
.navigation-menu ul li {
  position: relative;
  z-index: 999;
  font-size: 32px;
  line-height: 64px;
}
.navigation-menu ul li a {
  border: none;
  color: white;
  text-decoration: none;
}
.navigation-menu.active {
  transform: translate(0, 0);
  z-index: 10;
}

.navigation-menu li {
  opacity: 0;
  transform: translate(0, 10px);
  transition: all 0s ease-in 0.3s;
}
.navigation-menu.active li {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.2s ease-in 0s;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
