@import '../../color-palette.scss';
@import '../../mixins.scss';

.vision-home-wrapper {
  position: relative;
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  margin: auto;
  @media (min-width: 1200px) and (max-width: 1600px) and (min-height: 400px) and (max-height: 800px) {
    background-size: 100%;
  }
  &__background {
    &--mob-webp {
      background-image: linear-gradient(
          to bottom left,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 1)
        ),
        url('~@/assets/images/vision-page-mob.webp');
    }
    &--mob-jpg {
      background-image: linear-gradient(
          to bottom left,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 1)
        ),
        url('~@/assets/images/vision-page-mob.jpg');
    }
    &--desk-webp {
      background-image: linear-gradient(
          to bottom left,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.8)
        ),
        url('~@/assets/images/vision-page.webp');
      @media (min-width: 1200px) and (max-width: 1600px) and (min-height: 400px) and (max-height: 800px) {
        background-position: bottom;
      }
    }
    &--desk-jpg {
      background-image: linear-gradient(
          to bottom left,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.8)
        ),
        url('~@/assets/images/vision-page.jpg');
      @media (min-width: 1200px) and (max-width: 1600px) and (min-height: 400px) and (max-height: 800px) {
        background-position: bottom;
      }
    }
  }

  &__titles {
    line-height: 40px;
    text-align: left;
    padding-left: 15%;
    h1 {
      color: $light-cyan;
      line-height: 80px;
      font-size: 70px;
      opacity: 0.85;
      margin-top: 0;
      font-weight: lighter;
      width: 60%;
      @media (min-width: 1200px) and (max-width: 1600px) and (min-height: 400px) and (max-height: 800px) {
        font-size: 60px;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

@include is-mobile {
  .vision-home-wrapper {
    background-size: cover;
    background-position: top;

    &__titles {
      text-align: center;
      padding: 5px;
      h1 {
        line-height: 40px;
        font-size: 30px;
        width: 100%;
      }
    }
    &__content {
      position: relative !important;
      display: flex;
      justify-content: center;
      align-items: center;
      top: auto;
      left: auto;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 699px) {
  .vision-home-wrapper {
    &__titles {
      line-height: 60px;
      text-align: center;
      padding: 20px;
      h1 {
        font-size: 50px;
        width: 100%;
      }
    }
    &__content {
      position: relative !important;
      display: flex;
      justify-content: center;
      align-items: center;
      top: auto;
      left: auto;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) and (min-height: 700px) {
  .vision-home-wrapper {
    background-size: auto;
    background-position: top;

    &__titles {
      line-height: 60px;
      text-align: center;
      padding: 20px;
      h1 {
        font-size: 50px;
        width: 100%;
      }
    }
    &__content {
      position: relative !important;
      display: flex;
      justify-content: center;
      align-items: center;
      top: auto;
      left: auto;
      width: 100%;
      height: 100%;
    }
  }
}

@include is-desktop {
  .vision-home-wrapper {
    background-size: auto;
    background-position: top;

    &__titles {
      line-height: 60px;
      text-align: center;
      padding: 20px;
      h1 {
        font-size: 50px;
        width: 100%;
      }
    }
    &__content {
      position: relative !important;
      display: flex;
      justify-content: center;
      align-items: center;
      top: auto;
      left: auto;
      width: 100%;
      height: 100%;
    }
  }
}
