@import './color-palette.scss';

@font-face {
  font-family: 'Chronicle Display Extra Light';
  src: url('~@/assets/fonts/ChronicleDisp-XLight.otf');
}

@font-face {
  font-family: 'Neue Montreal Regular';
  src: url('~@/assets/fonts/NeueMontreal-Regular.otf');
}

@font-face {
  font-family: 'Neue Montreal Light';
  src: url('~@/assets/fonts/NeueMontreal-Light.otf');
}

@font-face {
  font-family: 'Galano Grotesque Light';
  src: url('~@/assets/fonts/Galano-Grotesque-Light.otf');
}

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
  overflow: hidden;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  letter-spacing: 3px;
}

h1 {
  font-family: 'Chronicle Display Extra Light';
}

h2,
h3,
p,
a {
  font-family: 'Neue Montreal Regular';
}

// vue-router animation

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
