$primary: #161616;
$primary-invert: findColorInvert($primary);
$secondary: #c4dded;
$secondary-invert: findColorInvert($secondary);
//----------------------------------------------
$light-black: #161616;
$dark-gray: #3c3c3b;
$gray: #989898;
$dark-cyan: #c4dded;
$light-cyan: #e7f7fd;
