@import './mixins.scss';

.grid {
  display: grid;
  @include is-mobile {
    grid-template-columns: repeat(1, 1fr);
  }
  @include is-tablet {
    grid-template-columns: repeat(1, 1fr);
  }
  @include is-desktop {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }
  @include is-large-desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
  @include is-very-large-desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
}
