@import '../color-palette.scss';
@import '../variables.scss';
@import '../mixins.scss';

.landing-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: $wrapper-height-desktop;
  @include is-mobile {
    // Android Google Chrome Height Page Bottom Hide Fix
    height: $wrapper-height-mobile;
  }
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0px !important;
  }

  &__section {
    height: $wrapper-height-desktop;
    padding: $wrapper-padding-desktop;
    scroll-snap-align: start;
    position: relative;
    box-sizing: border-box;
    @include is-mobile {
      padding: $wrapper-padding-mobile;
      // Android Google Chrome Height Page Bottom Hide Fix
      height: $wrapper-height-mobile;
    }
    &__dark {
      background-color: $light-black;
    }
    &__darkest {
      background-color: black;
    }
    &__light-section {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-blend-mode: darken;
    }
  }
}
