@import '../color-palette.scss';
@import '../mixins.scss';

.landing-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  @include is-mobile {
    // Android Google Chrome Height Page Bottom Hide Fix
    height: 100%;
  }
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0px !important;
  }

  &__section {
    height: 100vh;
    padding: 5%;
    scroll-snap-align: start;
    position: relative;
    @include is-mobile {
      padding: 8%;
      // Android Google Chrome Height Page Bottom Hide Fix
      height: 100%;
    }
    &__dark {
      background-color: $light-black;
    }
  }
}
