@import '../../color-palette.scss';
@import '../../mixins.scss';

.business-about-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 10%);
  padding-top: 5%;
  @include is-mobile {
    padding-top: 20%;
  }
  display: flex;
  &__column {
    &--1 {
      width: 50%;
      @include is-mobile {
        width: 0;
      }
    }
    &--2 {
      width: 30%;
      @include is-mobile {
        width: 100%;
      }
      h1 {
        font-weight: lighter;
        color: $dark-gray;
        font-size: 70px;
        // opacity: 0.85;
        // margin-top: 0;
        font-weight: lighter;
        @include is-mobile {
          font-size: 50px;
          color: $light-cyan;
          margin-bottom: 5px;
        }
      }
      p {
        text-align: justify;
        font-size: 18px;
        color: $dark-gray;
        @include is-mobile {
          font-size: 16px;
          color: $light-cyan;
        }
      }
      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        padding-inline-start: 20px;
        line-height: 20px;
        @include is-mobile {
          line-height: 18px;
          color: $light-cyan;
        }
      }
    }
  }
}
