@import '../../color-palette.scss';
@import '../../mixins.scss';

.business-about-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 10%);
  padding-top: 5%;
  @include is-mobile {
    padding-top: 20%;
  }
  display: flex;
  &__column {
    &--1 {
      width: 50%;
      @include is-mobile {
        width: 0;
      }
    }
    &--2 {
      width: 30%;
      @include is-mobile {
        width: 100%;
      }
      @include is-tablet {
        width: 50%;
      }
      @include is-desktop {
        width: 40%;
      }
      @media (min-width: 1200px) and (max-width: 1500px) and (min-height: 400px) and (max-height: 800px) {
        width: 45%;
      }
      h1 {
        font-weight: lighter;
        color: $dark-gray;
        font-size: 70px;
        font-weight: lighter;
        @include is-mobile {
          font-size: 50px;
          margin-bottom: 5px;
          color: $light-cyan;
        }
        @include is-desktop {
          font-size: 50px;
          margin-bottom: 0;
        }
        @media (min-width: 1200px) and (max-width: 1500px) and (min-height: 400px) and (max-height: 800px) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      div {
        @include is-desktop {
          height: 60%;
          overflow-y: scroll;
          padding: 0 10px;
          &::-webkit-scrollbar {
            width: 3px !important;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $gray;
            border-radius: 4.5px !important;
          }
        }
      }
      div p {
        text-align: justify;
        font-size: 18px;
        color: $dark-gray;
        @media (min-width: 1200px) and (max-width: 1500px) and (min-height: 400px) and (max-height: 800px) {
          line-height: 20px;
        }
        @include is-mobile {
          font-size: 16px;
          color: $light-cyan;
        }
        &:first-child {
          margin-top: 0;
        }
      }
      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        padding-inline-start: 20px;
        line-height: 20px;
        @include is-mobile {
          line-height: 18px;
          color: $light-cyan;
        }
      }
    }
  }
}
