@import '../../color-palette.scss';
@import '../../mixins.scss';

.people-about-wrapper {
  position: relative;
  width: 100%;
  height: 82%;
  @include is-mobile {
    height: 95%;
  }
  &__content {
    width: 95vw;
    height: fit-content;
    margin-top: 12%;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    @include is-mobile {
      width: 100%;
    }
    @include is-desktop {
      margin-top: 10%;
    }
  }
  &__description {
    display: flex;
    min-width: 90%;
    text-align: left;
    transition: all 0.2s ease;
    @include is-mobile {
      min-width: 100%;
    }
    // @include is-tablet {
    //   min-width: 80%;
    // }
    // @media (min-width: 768px) and (max-width: 991px) and (min-height: 701px) {
    //   min-width: 80%;
    // }

    h1 {
      color: $light-cyan;
      font-size: 70px;
      opacity: 0.85;
      margin-top: 0;
      font-weight: lighter;
      @include is-mobile {
        font-size: 50px;
      }
      @include is-desktop {
        font-size: 45px;
        margin-bottom: 0;
      }
      @media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 700px) {
        margin-bottom: 15px;
      }
    }
    &__reduced {
      visibility: hidden;
      transition: all 0.2s ease;
      @include is-mobile {
        width: 0;
        min-width: 0;
      }
      @media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 700px) {
        width: 0 !important;
        min-width: 0 !important;
      }
      @include is-desktop {
        width: 0;
        min-width: 0;
      }
    }
  }
  &__team {
    width: 100vw;
    min-width: 100%;
    span {
      font-size: 20px;
      color: white;
    }
  }
  &__text {
    width: 50%;
    position: relative;
    @include is-mobile {
      width: 100%;
      padding-top: 50px;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 700px) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 701px) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__paragraph {
    color: white;
    text-align: justify;
    width: 60%;
    line-height: 24px;
    @include is-desktop {
      width: 80%;
      height: 140px;
      overflow-y: scroll;
      padding: 5px;
      &::-webkit-scrollbar {
        width: 3px !important;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $gray;
        border-radius: 4.5px !important;
      }
    }
    @include is-tablet {
      width: 70%;
    }
    @include is-mobile {
      width: 100%;
      max-height: 40%;
      overflow-y: scroll;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 700px) {
      width: 100%;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 701px) {
      width: 100%;
    }
  }

  &__hero-img {
    width: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    &--webp {
      background-image: url('~@/assets/images/window.webp');
    }
    &--jpg {
      background-image: url('~@/assets/images/window.jpg');
    }
    @include is-desktop {
      width: 40%;
      background-size: 45%;
      background-position: top;
    }
    @include is-tablet {
      background-size: 95%;
    }
    @include is-mobile {
      display: none;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 700px) {
      display: none;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 701px) {
      display: none;
    }
  }
  &__section-footer {
    position: absolute;
    bottom: 50px;
    color: white;
    display: flex;
    @include is-tablet {
      bottom: 100px;
    }
    @include is-mobile {
      bottom: 20%;
      left: 15%;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 700px) {
      bottom: 100px;
      left: 25%;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 701px) {
      bottom: 100px;
      left: 25%;
    }
    @media (min-height: 767px) {
      bottom: 30%;
    }
    .num {
      font-weight: bold;
      font-size: 40px;
      margin: 0 0 -15px 0;
      color: $light-cyan;
    }
    .year {
      font-family: 'Neue Montreal Light';
      color: $light-cyan;
      font-size: 40px;
      margin: 0;
    }
    .finance-wrapper {
      margin: 30px 0 0 20px;
      vertical-align: text-bottom;
      @include is-mobile {
        margin: 10px 0 0 20px;
      }
    }
    .knowledge {
      font-size: 18px;
      margin: 0;
      color: $gray;
    }
    .finance {
      font-size: 18px;
      margin: 0;
      color: $gray;
    }
  }
  &__meet-our-people {
    position: absolute;
    bottom: 80px;
    right: 10px;
    font-size: 12px;
    color: $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    .strong-text {
      color: white;
      margin-right: 10px;
    }
    @include is-mobile {
      bottom: 55px;
      left: 0;
      display: flex;
    }
    @include is-desktop {
      bottom: 10px;
      left: 50%;
      // display: flex;
    }
    @media (min-height: 767px) {
      bottom: 15%;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 700px) {
      bottom: 10%;
    }
    @media (min-width: 768px) and (max-width: 991px) and (min-height: 701px) {
      bottom: 0;
    }
  }
}

button:focus {
  outline: 0 !important;
}
button.VueCarousel-dot.VueCarousel-dot--active {
  background-color: white !important;
}
button.VueCarousel-dot {
  background-color: transparent !important;
  border: 1px solid $gray !important;
  padding: 0 !important;
  margin: 5px;
}

.slide {
  color: $gray;
  height: 50%;
  border: 1px solid $gray;
  margin-right: 2%;
  @include is-mobile {
    flex-basis: 70% !important;
    margin: 5% 15%;
  }
  @media (min-width: 768px) and (max-width: 991px) and (min-height: 400px) and (max-height: 700px) {
    flex-basis: 50% !important;
  }
  @media (min-width: 768px) and (max-width: 991px) and (min-height: 701px) {
    flex-basis: 25% !important;
  }
  // @include is-tablet {
  //   flex-basis: 31% !important;
  // }
  @include is-desktop {
    flex-basis: 15% !important;
  }
  @include is-large-desktop {
    flex-basis: 17% !important;
  }
  @include is-very-large-desktop {
    flex-basis: 12.3% !important;
  }
}

.carousel {
  margin-top: 20px;
  // @include is-tablet {
  //   margin-top: 80px;
  // }
  @media (min-width: 768px) and (max-width: 991px) and (min-height: 701px) {
    margin-top: 0px;
  }
  @include is-desktop {
    margin-top: 0px;
  }
}
